<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MovieAppBegin1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="hero">
    <div class="container">
      <h1>Films and serials</h1>
      <input type="email" placeholder="Enter your email" />
      <br />
      <button class="btn">Click ti watch</button>
      </div>
  </div>
  <app-root></app-root>
</body>
</html>
<router-outlet></router-outlet>
